<%- include("header") -%> 
    <h1> <%= eday %>   </h1>
 <div class="mainListDiv">
     <div class="list">
            <ul>
            <% for(var i=0;i<enewlist.length;i++){ %>
                <li> <input type="checkbox"> <p> <%= enewlist[i] %> </p></li> 
                    <%  }  %>
            </ul>
        </div>
    <div class="btnandtext">
        <form action="/" method="POST">
            <input type="text" name="etx" class="ntext">
            <button class="btn" type="submit" name="subName" value="<%= eday %>" >+</button>
        </form>
    </div>
</div>
<%- include("footer") -%> 